# GitHub CODEOWNERS definition
# See: https://help.github.com/articles/about-codeowners/

# APM agents
/resources/approval-list/apm-agent-*.yml @graphaelli

# APM server
/resources/approval-list/apm-server.yml @axw

# Beats
/resources/approval-list/beats.yml @andresrc

# Auto assign reviews
* @elastic/observablt-robots @elastic/observablt-robots-contractors
