jenkins:
  systemMessage: "Configured automatically with JCasC plugin\n\n"
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  labelString: flyweight
  mode: EXCLUSIVE
  numExecutors: 5
  remotingSecurity:
    enabled: false
  scmCheckoutRetryCount: 2
  nodes:
  - permanent:
      labelString: "linux immutable docker x86_64"
      launcher:
        jnlp:
          workDirSettings:
            disabled: true
            failIfWorkDirIsMissing: false
            internalDir: "remoting"
            workDirPath: "/tmp"
      name: "local"
      numExecutors: 2
      remoteFS: "/tmp"
      retentionStrategy: "always"

credentials:
  system:
    domainCredentials:
      - credentials:
          - basicSSHUserPrivateKey:
              description: GitHub user @${github_username} SSH key
              id: f6c7695a-671e-4f4f-a331-acdce44ff9ba
              passphrase: ${github_ssh_key_passphrase}
              privateKeySource:
                directEntry:
                  privateKey: ${github_ssh_key_privatekey}
              scope: GLOBAL
              username: ${github_username}
          - string:
              description: GitHub user @${github_username} Personal Access Token
              id: 2a9602aa-ab9f-4e52-baf3-b71ca88469c7
              scope: GLOBAL
              secret: ${github_personal_access_token}
          - string:
              description: Vault URL to access secrets.
              id: vault-addr
              scope: GLOBAL
              secret: ${vault_addr}
          - usernamePassword:
              description: GitHub user @${github_username} User + Personal Access Token
              id: 2a9602aa-ab9f-4e52-baf3-b71ca88469c7-UserAndToken
              password: ${github_personal_access_token}
              scope: GLOBAL
              username: ${github_username}
          - string:
              description: Vault id to access secrets.
              id: vault-role-id
              scope: GLOBAL
              secret: ${vault_role_id}
          - string:
              description: Vault secret to access secrets.
              id: vault-secret-id
              scope: GLOBAL
              secret: ${vault_secret_id}
          - string:
              description: Who to notify to.
              id: notify-to
              scope: GLOBAL
              secret: ${notify_to}
          - string:
              description: gcs_bucket
              id: gcs-bucket
              scope: GLOBAL
              secret: ${gcs_bucket}
          - file: ## IMPORTANT This credential is only for testing the googleStorageUploadExt step since it uses some specific service account
              description: "Secret File Description for apm-ci-gcs-plugin"
              fileName: "elastic-observability.json"
              id: "apm-ci-gcs-plugin-file-credentials"
              scope: GLOBAL
              secretBytes: "${google_cloud_bucket_secret}" # secretBytes requires base64 encoded content
          - string:
              description: APM-Server Token
              id: apm-server-token
              scope: GLOBAL
              secret: ${apmServerToken}

unclassified:
  location:
    adminAddress: robots@elastic.co
    url: http://localhost:18080/
  globalLibraries:
    libraries:
      - name: "apm"
        defaultVersion: "current"
        implicit: true
        retriever:
          legacySCM:
            scm:
              filesystem:
                clearWorkspace: false
                copyHidden: false
                path: "/var/pipeline-library"
                filterSettings:
                  includeFilter: false
                  selectors:
                  - wildcard: ".ci/**"
                  - wildcard: ".mvn/**"
                  - wildcard: "local/**"
                  - wildcard: "src/test/**"
                  - wildcard: "target/**"
                  - wildcard: "test-infra/**"
  gitscm:
    globalConfigName: username
    globalConfigEmail: username@example.com
  openTelemetry:
    authentication:
      bearerTokenAuthentication:
        tokenId: "apm-server-token"
    endpoint: "${apmServerUrl}"
    exportOtelConfigurationAsEnvironmentVariables: true
    exporterIntervalMillis: 60000
    exporterTimeoutMillis: 30000
    ignoredSteps: "dir,echo,fileExists,isUnix,pwd,properties,readFile,readYaml,writeFile"
    observabilityBackends:
      - elastic:
          kibanaBaseUrl: "${kibanaFriendlyUrl}"
          name: "Elastic Observability"
    serviceName: "jenkins-local"
    serviceNamespace: "jenkins-local"

jobs:
  - file: "/var/pipeline-library/src/test/resources/folders/it.dsl"
  - file: "/var/pipeline-library/src/test/resources/folders/beats.dsl"
  - file: "/var/pipeline-library/src/test/resources/folders/getBuildInfoJsonFiles.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/beats/beatsStages.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/beats/beatsWhen.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/cancelPreviousRunningBuilds.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/cmd.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/dockerLogin.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/dockerLogs.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/downstream.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/gce-test.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/gce-test-orchestrator.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/getBuildInfoJsonFiles/abort.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/getBuildInfoJsonFiles/cobertura.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/getBuildInfoJsonFiles/connectionRefused.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/getBuildInfoJsonFiles/error.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/getBuildInfoJsonFiles/multiTestFailures.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/getBuildInfoJsonFiles/success.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/getBuildInfoJsonFiles/unstable.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/getGitMatchingGroup.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/gh.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/git.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/gitBaseCommit.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/gitCheckout.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/githubCheck.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/githubCreateIssue.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/githubCreatePullRequest.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/githubEnv.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/githubEnvSCM.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/googleStorageUploadExt.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/installTools.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/isTimerTrigger.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/isUserTrigger.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/log.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/parentstream.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/pipelineManager.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/runWatcher.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/stashV2.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/superLinter.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/tar.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/untar.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/withGitRelease.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/withTotpVault.dsl"
  - file: "/var/pipeline-library/src/test/resources/jobs/writeVaultSecret.dsl"
