.idea
.gradle
build
*.iml
release.properties
target
jenkins-cli.jar


# For the BATS testing
bats-core/
target/
.ci/docker/tests/test_helper/

# For the vagrant
.vagrant

mail*.html
metadata.txt

out.html
.vscode

venv

agent.jar
local.pid
local.log
.classpath
.project
.settings/
.venv

latest-versions.json

## Wiremock
wiremock-standalone.jar

## For the bump automation
*.bck
**/__pycache__

# For github actions
node_modules/

snapshots/
