<%if (githubCommands?.size() > 0) {%>
## :robot: GitHub comments

To re-run your PR in the CI, just comment with:

<% githubCommands?.each { githubCommand, description -> %>
<% githubFormattedCommand = githubCommand.contains('`') ? "${githubCommand}" : "`${githubCommand}`" %>
- ${githubFormattedCommand} : ${description}
<%}%>

<%}%>
