<%if (githubComments?.size() > 0) {%>
<details>
<summary>Re-run your PR in the CI</summary>

<br />

You can trigger a new Build by commenting on this pull request:
<% githubComments?.each { githubComment -> %>
- `${githubComment}`
<%}%>

</details>

<%}%>
