### :package: Bundlesize report

Filename | Size(bundled) | Size(gzip) | Diff(gzip)
 --- | --- | --- | ---
{% for item in data -%}
{%- if item.previousParsedSize -%}
    {%- if item.gzipSize - item.previousGzipSize > 0 -%}
        {%- set status = "red" -%}
    {% else %}
        {%- set status = "green" -%}
    {%- endif -%} 
{%- endif -%} 
{{ item.label }} | {{ item.parsedSize | int | filesizeformat(true) }} | {{ item.gzipSize | int | filesizeformat(true) }} | {% if item.previousGzipSize %} (<span style="color:{{ status }}"> {{ ( item.gzipSize - item.previousGzipSize | int ) | filesizeformat(true) }}</span> ) {% endif %}
{% endfor %}
