Filename | Size | Size(gzip) | Diff
 --- | --- | --- | --- 
{% for item in data -%}
{%- if item.previousParsedSize -%}
    {%- if item.parsedSize - item.previousParsedSize > 0 -%}
        {%- set status = "red" -%}
    {% else %}
        {%- set status = "green" -%}
    {%- endif -%} 
{%- endif -%} 
{{ item.label }} | {{ item.statSize }} B | {{ item.gzipSize }} B | {% if item.previousParsedSize %} (<span style="color:{{ status }}"> {{ item.parsedSize - item.previousParsedSize }}</span> ) {% endif %} 
{% endfor %}
