### :globe_with_meridians: Coverage report

Name | Metrics % (`covered/total`) | Diff
 --- | --- | ---
{% for key, value in data.items() -%}
{%- set diff = ":grey_exclamation:" -%}
{%- set ratio = value.ratio|float|round(3) -%}
{%- if value.previousRatio -%}
    {%- set previousRatio = value.previousRatio|float|round(3) -%}
    {%- if previousRatio > ratio -%}
        {%- set diff = ":warning: {{ ( ratio - previousRatio ) }}" -%}
    {% else %}
        {%- set diff = ":green_heart: {{ ( ratio - previousRatio ) }}" -%}
    {%- endif -%}
{% else %}
  {%- if ratio == 100 -%}
    {%- set diff = ":green_heart:" -%}
  {%- endif -%}
{%- endif -%}
{{ key }} | {{ ratio }}% `({{ value.numerator }}/{{ value.denominator }})`| {{ diff }}
{% endfor %}
