### :globe_with_meridians: Coverage report

Name | Metrics | Diff
 --- | --- | ---
{% for item in data -%}
{%- if item.previousRatio -%}
    {%- if item.ratio - item.previousRatio > 0 -%}
        {%- set status = ":warning:" -%}
    {% else %}
        {%- set status = ":green_heart:" -%}
    {%- endif -%}
{%- endif -%}
{{ item.label }} | {{ item.ratio }} | {% if item.previousRatio %} {{ status }} {{ ( item.ratio - item.previousRatio ) }} {% endif %}
{% endfor %}
