### :globe_with_meridians: Coverage report

Name | Metrics % (`covered/total`) | Diff
 --- | --- | ---
{% for key, value in data.items() -%}
{%- set status = ":grey_exclamation:" -%}
{%- set diff = "" -%}
{%- set ratio = value.ratio|float|round(3) -%}
{%- if value.previousRatio -%}
  {%- set previousRatio = value.previousRatio|float|round(3) -%}
  {%- set diff = ( ratio - previousRatio ) -%}
  {%- if previousRatio > ratio -%}
      {%- set status = ":-1:" -%}
  {% else %}
      {%- set status = ":+1:" -%}
  {%- endif -%}
{% else %}
  {%- if ratio == 100 -%}
    {%- set status = ":green_heart:" -%}
  {%- endif -%}
{%- endif -%}
{{ key }} | {{ ratio }}% `({{ value.numerator }}/{{ value.denominator }})`| {{ status }} {{ diff }}
{% endfor %}
