---
name: licenses

on:
  push:
    branches: [main]
  pull_request:

# limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

jobs:
  licenses:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - name: License
      run: |
        go install github.com/elastic/go-licenser@latest
        ls -ltra "$(go env GOPATH)"/bin
        "$(go env GOPATH)"/bin/go-licenser -d -ext .groovy
